@page "/"
@using System
@using AisFileSyncer.Infrastructure.Interfaces
@using AisFileSyncer.Infrastructure.Models
@using AisFileSyncer.Infrastructure.Extensions
@inject IFileListProvider _fileProvider
@inject IDownloadManager _downloadManager

<h1>Files</h1>

@AppDomain.CurrentDomain.GetData("AisFileSyncerDataPath")

@if (files == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="LoadFileListAsync">Reload</button>
    <button class="btn btn-primary" @onclick="Cancel">Cancel</button>

    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Status</th>
                <th>Download time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in files)
            {
                <tr>
                    <td>@file.Name</td>
                    <td>@file.DownloadStatus</td>
                    <td>@file.DownloadSpan.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    FileModel[] files;

    protected override async Task OnInitializedAsync()
    {
        await LoadFileListAsync();
    }

    void Cancel()
    {
        _downloadManager.Cancel();
    }

    async Task LoadFileListAsync()
    {
        files = await _fileProvider.GetUrlListAsync().ConfigureAwait(false);
        await _downloadManager.Download(files, (file) => this.StateHasChanged(), () => {
            this.StateHasChanged();
        });
    }
}
